{% extends 'clients/base.html' %}

{% block content %}
<style>

.double-border-button {
  text-decoration: none;
  display: inline-block;
  margin: 5px 10px;
  padding: 5px 20px;
  position: relative;
  border: 2px solid green;
  color: green;
  font-family: 'Montserrat', sans-serif;
  transition: .4s;
}
.double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: .4s;
}
.double-border-button:hover:after {
  border-color: green;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}
   * {
   margin: 0;
   box-sizing: border-box;
}
.post-wrap {
   max-width: 1120px;
   margin: 5 auto;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.post-item {
   padding-top: 35px;
}
.post-item-wrap {
   background: #F7F7F2;
   position: relative;
}
.post-item-wrap:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 50%;
   height: 100%;
   z-index: -1;
   background: #C9F2C7;
   transform: rotate(1deg);
   transform-origin: left bottom;
   transition: .3s ease-in-out;
}
.post-item-wrap:hover:after {
   top: 5px;
   left: 5px;
   transform: rotate(2deg);
}
.post-link {
   text-decoration: none;
   display: block;
   padding: 30px;
}
.post-title {
   color: #33261D;
   margin-bottom: 15px;
   transition: .3s ease-in-out;
   padding: 10px;
}
.post-content {
   padding-left: 10px;
}
.post-item-wrap:hover .post-title {
   color: #C9F2C7;
}
.post-content {
   color: #A69888;
   font-size: 14px;
}
@media (min-width: 768px) {
   .post-item {
      flex-basis: 50%;
      flex-shrink: 0;
   }
}
@media (min-width: 960px) {
   .post-item {
      flex-basis: 33.333333333%;
   }
}

</style>
<div class="col-12" style="margin-top: 60px; margin-left: 20px;">
    <a class="double-border-button" href="{% url 'mailings:create_mailings' %}"> Добавить рассылку </a>
</div>
    {% for object in object_list %}
    <div class="post-item">
        <div class="post-item-wrap">
                <h3 class="post-title"> Имя: {{ object.name }} </h3>
                <p class="post-content"> Время старта рассылки: {{ object.start_time }} </p>
                <p class="post-content"> Время окончания рассылки: {{ object.end_time }} </p>
                <p class="post-content"> Периодичность рассылки: {{ object.custom_frequency }} </p>
                <p class="post-content"> Получатели рассылки: {% for client in object.clients.all %} {{ client.name }},
    {% endfor %} </p>
                <p class="post-content"> Тема письма: {{ object.message }}</p>
                <p class="post-content"> Статус письма: {{ object.status }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'mailings:view_mailings' object.pk %}" class="double-border-button" style="margin-right: 15px;">
                            Подробнее </a>
                        <a href="{% url 'mailings:mailings_update' object.pk %}" class="double-border-button" style="margin-right: 15px;">
                            Редактировать </a>
                        <a href="{% url 'mailings:delete_mailings' object.pk %}" class="double-border-button">
                            Удалить </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
