<div class="col-6" style="margin: 200px;">
    <div class="card px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="width: 24rem;">
        <div class="card-body">
            <p class="card-text"> Тема письма: {{ object.letter_subject }}</p>
            <p class="card-text"> Текст сообщения: {{ object.body_letter }}</p>
        </div>
        <div class="col-6">
            <a href="{% url 'letters:letters_list' %}" class="btn btn-sm btn-outline-secondary"> Вернуться назад </a>
        </div>
    </div>
</div>