{% extends 'clients/base.html' %}

{% block content %}
{% if not user.is_staff%}
<div class="col-12" style="margin-top: 60px; margin-left: 20px;">
    <a class="double-border-button" href="{% url 'clients:create_clients' %}"> Добавить клиента </a>
</div>
{% endif %}
{% for object in object_list %}
<div class="post-item">
    <div class="post-item-wrap">
        <h3 class="post-title"> ФИО: {{ object.name }} </h3>
        <p class="post-content"> Контактный email: {{ object.client_email }} </p>
        <p class="post-content"> Автор: {{ object.owner }} </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="{% url 'clients:view_clients' object.pk %}" class="double-border-button"
                   style="margin-right: 15px;">
                    Подробнее </a>
                {% if not user.is_staff%}
                <a href="{% url 'clients:update_clients' object.pk %}" class="double-border-button"
                   style="margin-right: 15px;">
                    Редактировать </a>
                <a href="{% url 'clients:delete_clients' object.pk %}" class="double-border-button">
                    Удалить </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}