{% extends 'clients/base.html' %}
{% block content %}
<div class="row">
    <div class="col-12" style="margin: 250px;">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p> Хотите удалить карточку клиента: "{{ object|title }}"? </p>
                        <button Type="submit" class="btn btn-success"> Подтвердить </button>
                        </form>
                        </div>
                        <a href="{% url 'clients:clients_list' %}" class="btn btn-sm btn-outline-secondary"> Вернуться назад </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}